Language: Cpp
BasedOnStyle: Microsoft
UseTab: Always
# TabWidth: 8
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
AccessModifierOffset: -4
# BreakBeforeBraces: Allmann
DerivePointerAlignment: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: true
# NamespaceIndentetion: All
# IndentNamespaces: true
SortIncludes: false
