.config/nvim/lazy-lock.json
.config/nvim/package.json
.config/nvim/package-lock.json
.config/nvim/node_modules/
.config/htop/
.config/neofetch/
.config/lazygit/
.config/vscode-sqltools/
.config/inkscape/

.config/onedrive/refresh_token
.config/onedrive/.config.hash
.config/onedrive/.config.backup
.config/onedrive/items.sqlite3
.config/onedrive/items.sqlite3-shm
.config/onedrive/items.sqlite3-wal

sway/.config/sway/monitors.conf
