[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=false
Exec=/home/federico/.local/zen/zen-bin
Name=Zen Browser
Comment=A calmer browser
StartupNotify=true
Terminal=false
Categories=Network;WebBrowser;
Icon=/home/federico/.local/zen/browser/chrome/icons/default/default128.png
