window-rule {
    open-maximized false
    open-maximized-to-edges false
}

window-rule {
    match app-id="zen"
    match app-id="kitty"
    open-focused false
    default-column-width { proportion 0.75; }
}

// floating
window-rule {
    match app-id="io.github.kaii_lb.Overskride"
    match app-id="python3"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.7; }
}

// Open the Firefox picture-in-picture player as floating by default.

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}


