* {
    font-size: 18px;
    font-family: "JetBrains Mono Nerd Font 18";
    transition: 100ms;
}

.floating-notifications.background .notification-background {
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 0;
    max-width: 100px;
}

.floating-notifications.background .notification-background .notification {
    padding: 1px;
    max-width: 50px;
    border-radius: 12px;
}

.floating-notifications.background .notification-background .notification .notification-content {
    margin: 5px;
}

