@define-color bg0 #1e1e2e;
@define-color bg1 #24273a;
@define-color bg2 #313244;
@define-color bg3 #45475a;
@define-color bg4 #585b70;

@define-color fg  #cdd6f4;
@define-color fg1 #bac2de;
@define-color fg2 #a6adc8;

@define-color red    #f38ba8;
@define-color orange #fab387;
@define-color yellow #f9e2af;
@define-color green  #a6e3a1;
@define-color aqua   #94e2d5;
@define-color blue   #89b4fa;
@define-color purple #cba6f7;

