@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
    border: none;
    border-radius: 0px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
    /* background-color: rgba(25, 25, 25, 1.0); */
    /* color: #ffffff; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

tooltip { 
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 5px;
}

#workspaces {
    background-color: @bg0;
    padding: 3px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg1;
    color: @fg;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 50px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #ffffff;
    color: @bg0;
}

#workspaces button:hover {
    background-color: @fg;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#bluetooth,
#idle_inhibitor,
#custom-notification,
#power-profiles-daemon {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    color: #ffffff;
    margin: 0 0 0 5px;
    border-radius: 50px;
    border: 1px solid @bg1;
}

#clock {
    color: @acqua;
}

#custom-notification {
    color: @fg;
}

#pulseaudio {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}

#network {
    color: @green;
}

#power-profiles-daemon {
    color: @red;
}

battery {
    color: @green;
}
