@import "vague.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
    border: none;
    border-radius: 0px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip { 
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 5px;
}

tooltip label {
    color: @fg;
    padding: 5px;
}

#workspaces {
    padding: 3px 3px;
    margin: 0 0 0 0px;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #ffffff;
    color: @bg0;
}

#workspaces button:hover {
    background-color: @fg;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @bg0;
    padding: 0 15px 0 15px;
    color: #ffffff;
    margin: 0 0 0 5px;
    border-radius: 10px;
    border: 1px solid @bg1;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#bluetooth,
#idle_inhibitor,
#custom-notification,
#custom-temp,
#power-profiles-daemon {
    padding: 0 5px 0 5px;
    margin: 0 0 0 5px;
}

#cpu {
    color: @blue;
}

#temperature {
    color: @red;
}


#custom-temp {
    color: @red;
}

#memory {
    color: @green;
}

#disk {
    color: @yellow;
}

#custom-notification {
    color: @fg;
}

#pulseaudio {
    color: @yellow;
}

#bluetooth {
    color: @blue;
}

#network {
    color: @purple;
}

#power-profiles-daemon {
    color: @red;
}

#battery {
    color: @green;
}
