
@define-color bg0 #1a1b26;
@define-color bg1 #1f2335;
@define-color bg2 #24283b;
@define-color bg3 #414868;
@define-color bg4 #565f89;

@define-color fg  #c0caf5;
@define-color fg1 #a9b1d6;
@define-color fg2 #9aa5ce;

@define-color red    #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green  #9ece6a;
@define-color aqua   #73daca;
@define-color blue   #7aa2f7;
@define-color purple #bb9af7;
